<div class="wrapper">
  <div class="ui top attached menu">
    <div class="ui dropdown icon item">
      <i class="add icon"></i>
      <div class="menu">
        <div class="item">
          <i class="dropdown icon"></i>
          <span class="text">New</span>
         
        </div>
        
      </div>
    </div>
    <div class="right menu">
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" placeholder="Search animals...">
          <i class="search link icon"></i>
        </div>
        
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment" style="padding:0">
      <table class="ui celled striped table" style="border-radius: 0;margin: 0; border: none;">
         <thead>
           <tr>
             <th>Name</th>
             <th>Mobile</th>
             <th>Telephone</th>
             <th>Address</th>
           </tr>
           
         </thead>
          <tbody>
            <tr *ngFor="let contact of contactList">
              <td>{{contact.name}}</td>
              <td>{{contact.mobile}}</td>
              <td>{{contact.telephone}}</td>
              <td>{{contact.address}}</td>
           
             
            </tr>
          </tbody>
        </table>
  </div>
</div>
<div class="form_wrapper">
  <form #contactForm="ngForm" (submit)="onSubmit(contactForm)">
    <h5>Name</h5>
    <div class="ui input focus fluid">
      <input type="text" required name="name" ngModel placeholder="Name">
    </div>
    <h5>Mobile</h5>
    <div class="ui input focus fluid">
      <input type="text" required name="mobile" ngModel placeholder="Mobile">
    </div>
    <h5>Telephone</h5>
    <div class="ui input focus fluid">
      <input type="text" name="telephone" ngModel placeholder="Telephone">
    </div>
    <h5>Address</h5>
    <div class="ui input focus fluid">
      <input type="text" name="address" ngModel placeholder="Telephone">
    </div>
<hr>
    <button type="submit" [disabled]="!contactForm.valid" class="ui button blue fluid">Save</button>
  </form>
</div>