.wrapper{
    width: 60%;
    height: 100vh;
   padding: 10px;
   float: left;
}
.form_wrapper{
    width: 40%;
    height: 100vh;
    float: left;
    padding: 10px;
    background: white;
   h5{
       margin: 5px 0;
       padding: 0;
   }
}